@charset "utf-8";
/*主页响应式栅格系统*/
@media (max-width:767px) {
	.container {width: 100%;}
	.protipsplmedia{padding-left: 0px;}
}
@media (min-width:768px) and (max-width:991px) {
	.container {width: 100%;}
	.protipsplmedia{padding-left: 5px; padding-right: 5px;}
}
@media (min-width:992px) and (max-width:1199px) {
	.container {width: 100%;}
	.protipsplmedia{padding-left: 30px;}
}
@media (min-width:1200px) and (max-width:1299px) {
	.container {width: 1200px}
	.protipsplmedia{padding-left: 50px;}
}
@media (min-width:1300px) {
	.container {width: 1200px}
	.protipsplmedia{padding-left: 50px;}
}

.mt--2{margin-top: -2px;}
.h-26{height: 26px;}
.h-600{height: 600px;}
.min-h-120{min-height: 120px;}
.line-h-26{line-height: 26px;}
.pl-50{padding-left: 50px;}
.pb-80{padding-bottom: 80px;}
.w-100{width: 100px;}
.w-300{width: 300px;}
.col-309DE2{color: #309DE2;}
.col-252525{color: #252525;}
.col-8c8c8c{color: #8c8c8c;}
.bg-eee{background-color: #eee;}
.bg-252525{background-color: #252525;}
.bg-f5f5f5{background-color: #f5f5f5;}
.bg-E9E9E9{background-color: #E9E9E9;}
.bg-8c8c8c{background-color: #8c8c8c;}
.t-nonehove:hover{text-decoration: none}
.mainnav div a:hover{color: #309DE2;}
.navbor{border-bottom: 3px solid #309DE2;}
.navborpitch{border-bottom: 3px solid #309DE2;}
.hovecol-black:hover{color: black !important;}
.hovecol-333:hover{color: #333 !important;}
.hovecol-999:hover{color: #999 !important;}
.hovecol-309DE2:hover{color: #309DE2 !important;}
.hovebg-ddd:hover{background-color: #ddd;}
.bgimg-interlayer{background-image: url(../../img/index/interlayer.jpg);}
.bor-col-E9E9E9{border-color: #E9E9E9 !important}
.sha-leftv1{-webkit-box-shadow: -15px 0px 20px -3px rgba(0,0,0,.2);-moz-box-shadow: -15px 0px 20px -3px rgba(0,0,0,.2);box-shadow: -15px 0px 20px -3px rgba(0,0,0,.2);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}
.sha-rightv1{-webkit-box-shadow: 15px 0px 20px -3px rgba(0,0,0,.2);-moz-box-shadow: 15px 0px 20px -3px rgba(0,0,0,.2);box-shadow: 10px 0px 10px -3px rgba(0,0,0,.2);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}
.rgba-30-white{background: rgba(255,255,255,0.3)}
.swiper-paginationmian{
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
}
.swiper-paginationmian .swiper-pagination-bullet{
	position: relative;
	height: 48px;
	width: 48px;
	border-radius: 0;
	line-height: 48px;
	color: white;
	background-color: rgba(255,255,255,0.6);
	margin: 0 1px 0 0  !important;
	text-align: center;
	opacity:1;
}
.swiper-paginationmian .swiper-pagination-bullet-active{
	color: black;
	background-color: rgba(255,255,255,1);
}

.mainswiper-pagination-bullet-div{
	position: absolute;
	z-index: -999;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	/* height: 100%; */
}
.banneraniv1{
	-webkit-animation: banneraniv1 0.3s forwards; 
    animation: banneraniv1 0.3s forwards;
}
@keyframes banneraniv1
{
from {height: 0%;}
to {height: 100%;}
}
/*Safari 和 Chrome:*/
@-webkit-keyframes banneraniv1
{
from {height: 0%;}
to {height: 100%;}
}
.banneraniv2{
	-webkit-animation: banneraniv2 0.2s forwards; 
    animation: banneraniv2 0.2s forwards;
}
@keyframes banneraniv2
{
from {height:100%;}
to {height: 0%;}
}
/*Safari 和 Chrome:*/
@-webkit-keyframes banneraniv2
{
from {height:100%;}
to {height:0%;}
}
.swiper-tipsv1-button-prev{
	position: relative;
	display: inline-block;
	top: 0px;
	left: 0px;
	width: 48px;
	height: 48px;
	margin: 0 0 0 0;
	background-image: url(../../img/index/leftbtn.png);
}
.swiper-tipsv1-button-next{
	position: relative;
	display: inline-block;
	top: 0px;
	left: 0px;
	width: 48px;
	height: 48px;
	margin: 0 0 0 0px;
	background-image: url(../../img/index/rightbtn.png);
}
.rgba-90{background: rgba(0,0,0,0.9)}