@charset "utf-8";
/*主页响应式栅格系统*/
@media (max-width:767px) {

}
@media (min-width:768px) and (max-width:991px) {

}
@media (min-width:992px) and (max-width:1199px) {

}
@media (min-width:1200px) and (max-width:1299px) {

}
@media (min-width:1300px) {

}
a:hover{text-decoration: none;}
.bg-fafafa{background-color: #fafafa;}
.bor-col-e8ebf2{border-color: #e8ebf2;}
.col-8d969d{color: #8d969d;}
.min-w-1200{min-width: 1200px;}
.layui-table-tips-c{color: white;box-sizing: content-box;}
.t-12{top: 12px;}
.l--120{left: -120px;}
.w-110{width: 110px;}
.w-120{width: 120px;}
.w-300{width: 300px;}
.w-380{width: 380px;}
.ml-130{margin-left: 130px;}
.bor-009688{border: 1px solid #009688;}
.bor-col-black{border-color: black;}