@charset "utf-8";
.bg-F2F2F2{background: #F2F2F2;}
.bg-A4E276{background: #A4E276}
.bg-64C47E{background: #64C47E}
.bg-A0D8FB{background: #A0D8FB}
.bg-4BCCA4{background: #4BCCA4}
.bg-D9534F{background-color: #D9534F}
.bg-F0AD4E{background-color: #F0AD4E}
.bg-white-sel{background: white !important;}
.bg-F7F3F2{background-color: #F7F3F2;}
.bg-B1E0C4{background-color: #B1E0C4;}
.bg-26B99A{background-color: #26B99A;}
.bg-268fff{background-color: #268fff;}
.bg-B4EBFF{background-color: #B4EBFF;}
.bg-268fff{background-color: #268fff;}
.bg-258DFB{background-color: #258DFB;}
.bg-9CCDFE{background-color: #9CCDFE;}
.bg-53A6FF{background-color: #53A6FF;}
.hovfocact-5CFFCD:focus,.hovfocact-5CFFCD:active,.hovfocact-5CFFCD:hover
{background: #5CFFCD !important; outline: none;}
.hovfocact-2ACFAC:focus,.hovfocact-2ACFAC:active,.hovfocact-2ACFAC:hover
{background: #2ACFAC !important; outline: none;}
.t-14{top: 14px;}
.t-50{top: 50px;}
.w-45s{width: 45%;}
.w-50s{width: 50%;}
.w-70s{width: 70%;}
.w-90s{width: 90%;}
.bor-col-f3{border-color: #f3f3f3 !important}
.bor-col-F2F2F2{border-color: #F2F2F2 !important}
.bor-col-e1e1e1{border-color: #e1e1e1 !important}
.bor-col-32BC9D{border-color: #32BC9D !important}
.col-808080{color: #808080;}
.col-363634{color: #363634;}
.col-646464{color: #646464;}
.col-FF5C6F{color: #FF5C6F}
.col-E47A36{color: #E47A36}
.col-FF2E24{color: #FF2E24}
.col-A4E276{color: #A4E276}
.col-64C47E{color: #64C47E}
.col-5F5F5F{color: #5F5F5F}
.col-26B99A{color: #26B99A}
.col-D9534F{color: #D9534F}
.col-F0AD4E{color: #F0AD4E}
.col-268fff{color: #268fff;}
.col-a2cffe{color: #a2cffe;}
.col-aaa{color: #aaa;}
.h-5{height: 5px;}
.h-8{height: 8px;}
.h-56{height: 56px;}
.h-225{height: 225px;}
.h-200{height: 200px;}
.h-auto{height: auto;}
.t-13{top: 13px;}
.t-56{top: 56px;}
.t-50s{top: 50%;}
.r-10{right: 10px;}
.r-15{right: 15px;}
.r--10{right: -10px;}
.b-15{bottom: 15px;}
.b-30i{bottom: 30px !important;}
.b-56{bottom: 56px;}
.t--7{top: -7px;}
.img-30{width: 30px;height: 30px;}
.img-80{width: 80px; height: 80px;}
.line-h-nor{line-height: normal;}
.bor-none{border: none;}
@media (max-width: 350px){
  .img-25vmed{width:20px;height: 20px;}
}
.f-w-600{font-weight: 600;}
.min-h-100s{min-height: 100%;}
.img-40{width: 40px;height: 40px;}
.img-15{width: 15px;height: 15px;}

@media (min-width:350px) {
  .img-25-30-mlr{width: 30px;height: 30px;margin-left: 10px;margin-right: 10px;line-height: 30px;font-size: 14px;}
  .w-350-245{width: 350px;}
  .pt-15-5-iphone5{padding-top: 15px;}
  .ptb-10-5-iphone5{padding-top: 10px;padding-bottom: 10px;}
  .ptb-15-5-iphone5{padding-top: 15px;padding-bottom: 15px;}
  .pt-50-30-iphone5{padding-top: 50px;}
  .f-30-24-iphone5{font-size: 30px;}
  .plr-20-10-iphone5{padding-left: 20px; padding-right: 20px;}
  .line-h-25-20-iphone5{line-height: 30px;}
  .f-14-12-iphone5{font-size: 14px;}
  .f-24-18-iphone5{font-size: 24px;}
  .mt-30-20-iphone5{margin-top: 30px;}
  .mt-40-30-iphone5{margin-top: 40px;}
  .img-30-20-iphone5{width: 30px;height: 30px;}
  .pl-30-20-iphone5{padding-left: 30px;}
  .f-16-15-iphone5{font-size: 16px;}
  .h-60-50-iphone5{height: 60px;}
  .line-h-25-20-iphone5{line-height: 25px;}
}
@media (max-width: 349px){
  .img-25-30-mlr{width: 25px;height: 25px;margin-left: 10px;margin-right: 10px;line-height: 25px; font-size: 12px;}
  .w-350-245{width: 315px;}
  .pt-15-5-iphone5{padding-top: 5px;}
  .ptb-10-5-iphone5{padding-top: 5px;padding-bottom: 5px;}
  .ptb-15-5-iphone5{padding-top: 5px;padding-bottom: 5px;}
  .pt-50-30-iphone5{padding-top: 30px;}
  .f-30-24-iphone5{font-size: 24px;}
  .plr-20-10-iphone5{padding-left: 10px; padding-right: 10px;}
  .line-h-25-20-iphone5{line-height: 20px;}
  .f-14-12-iphone5{font-size: 12px;}
  .f-24-18-iphone5{font-size: 18px;}
  .mt-30-20-iphone5{margin-top: 20px;}
  .mt-40-30-iphone5{margin-top: 30px;}
  .img-30-20-iphone5{width: 20px;height: 20px;}
  .pl-30-20-iphone5{padding-left: 20px;}
  .f-16-15-iphone5{font-size: 15px;}
  .h-60-50-iphone5{height: 50px;}
  .line-h-25-20-iphone5{line-height: 20px;}
}
.unread-report{border-radius: 50%;background-color: #EE7071;}
.read-report{border-radius: 50%;border: 1px solid #EE7071;}
.now-today{border-radius: 50%;background-color: #F88B1D;}
.select-day{border-radius: 50%;border: 1px solid black;}
.text-line-3{overflow:hidden; text-overflow:ellipsis;display:-webkit-box; -webkit-box-orient:vertical;-webkit-line-clamp:3}
.paytabact{border-radius: 5px 5px 0 0 ; background-color: #26B99A;color: white;}
.sha-freereportv2{-webkit-box-shadow: 0px 3px 10px 0px rgba(0,0,0,.2);-moz-box-shadow: 0px 3px 10px 0px rgba(0,0,0,.2);box-shadow: 0px 3px 10px 0px rgba(0,0,0,.2);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}
.bg-53A6FF{background-color: #53A6FF;}
.bor-col-f7f4f8{border-color9CCDFE: #f7f4f8;}
.col-679dd8{color: #679dd8;}
.col-c9caca{color: #c9caca;}
.col-b4cbe5{color: #b4cbe5;}
.col-53a6ff{color: #53a6ff;}
.bg-f8fcff{background-color: #f8fcff;}
.hovfocact-E2E4E5:focus,.hovfocact-E2E4E5:active,.hovfocact-E2E4E5:hover {background: #E2E4E5 !important; color:#53a6ff !important;  outline: none;}
.h-100p{height: 100%;}
.overflow-a{overflow: auto;}
/* 十五分钟报告css */
.qu_re_main_box{-webkit-box-shadow: 0px 2px 10px 2px rgba(83,166,255,.2);-moz-box-shadow: 0px 2px 10px 2px rgba(83,166,255,.2);box-shadow: 0px 2px 10px 2px rgba(83,166,255,.2);}
.f-w-700{font-weight: 700;}
.f-w-600{font-weight: 600;}
.f-w-500{font-weight: 500;}
.f-w-400{font-weight: 400;}
.img-25{width: 25px;height: 25px;}
.z--1{z-index: -1;}
@media (min-width:350px) {
  .pt-30-20-iphone5{padding-top: 30px;}
  .f-26-20-iphone5{font-size: 26px;}
  .f-20-18-iphone5{font-size: 20px;}
  .line-h-35-28-iphone5{line-height: 35px;}
  .img-25-20{width: 25px;height: 25px;}
  .f-18-16-iphone5{font-size: 18px;}
  .f-16-14-iphone5{font-size: 16px;}
  .pl-40-30-iphone5{padding-left: 40px;}
  .t-3-5-iphone5{top: 3px;}
}
@media (max-width: 349px){
  .pt-30-20-iphone5{padding-top: 20px;}
  .f-26-20-iphone5{font-size: 20px;}
  .f-20-18-iphone5{font-size: 18px;}
  .line-h-35-28-iphone5{line-height: 28px;}
  .img-25-20{width: 20px;height: 20px;}
  .f-18-16-iphone5{font-size: 16px;}
  .f-16-14-iphone5{font-size: 14px;}
  .pl-40-30-iphone5{padding-left: 30px;}
  .t-3-5-iphone5{top: 5px;}
}