@charset "utf-8";
.bg-F2F2F2{background: #F2F2F2;}
.bg-A4E276{background: #A4E276}
.bg-64C47E{background: #64C47E}
.bg-white-sel{background: white !important;}
.bg-F7F3F2{background-color: #F7F3F2;}
.t-14{top: 14px;}
.t-50{top: 50px;}
.w-45s{width: 45%;}
.w-70s{width: 70%;}
.w-90s{width: 90%;}
.bor-col-f3{border-color: #f3f3f3 !important}
.bor-col-F2F2F2{border-color: #F2F2F2 !important}
.bor-col-e1e1e1{border-color: #e1e1e1 !important}
.col-808080{color: #808080;}
.col-363634{color: #363634;}
.col-646464{color: #646464;}
.col-FF5C6F{color: #FF5C6F}
.col-E47A36{color: #E47A36}
.col-FF2E24{color: #FF2E24}
.col-A4E276{color: #A4E276}
.col-64C47E{color: #64C47E}
.col-5F5F5F{color: #5F5F5F}
.h-5{height: 5px;}
.t-13{top: 13px;}
.r-10{right: 10px;}
.r-15{right: 15px;}
.r--10{right: -10px;}
.b-15{bottom: 15px;}
.t--7{top: -7px;}
.img-80{width: 80px; height: 80px;}
.line-h-nor{line-height: normal;}
.bor-none{border: none;}
@media (max-width: 350px){
  .img-25vmed{width:20px;height: 20px;}

}
.f-w-600{font-weight: 600;}
.min-h-100s{min-height: 100%;}
.img-40{width: 40px;height: 40px;}
.img-15{width: 15px;height: 15px;}

@media (min-width:350px) {
  .img-25-30-mlr{width: 30px;height: 30px;margin-left: 10px;margin-right: 10px;line-height: 30px;font-size: 14px;}
  .w-350-245{width: 350px;}
}
@media (max-width: 349px){
  .img-25-30-mlr{width: 25px;height: 25px;margin-left: 10px;margin-right: 10px;line-height: 25px; font-size: 12px;}
  .w-350-245{width: 315px;}
}
.unread-report{border-radius: 50%;background-color: #EE7071;}
.read-report{border-radius: 50%;border: 1px solid #EE7071;}
.now-today{border-radius: 50%;background-color: #F88B1D;}
.select-day{border-radius: 50%;border: 1px solid black;}