@charset "utf-8";
/*主页响应式栅格系统*/
@media (max-width:767px) {
	.container {width: 100%;}
}
@media (min-width:768px) and (max-width:991px) {
	.container {width: 100%;}
}
@media (min-width:992px) and (max-width:1199px) {
	.container {width: 100%;}
}
@media (min-width:1200px) and (max-width:1299px) {
	.container {width: 1200px}
}
@media (min-width:1300px) {
	.container {width: 1200px}
}
/* 头部 */
.min-h-120{min-height: 120px;}
.hovecol-black:hover{color: black !important;}
.bg-eee{background-color: #eee;}
.hovebg-ddd:hover{background-color: #ddd;}
.h-26{height: 26px;}
.line-h-26{line-height: 26px;}
.w-100{width: 100px;}
.mt--2{margin-top: -2px;}
.t-nonehove:hover{text-decoration: none}
.mainnav div a:hover{color: #309DE2;}
.navbor{border-bottom: 3px solid #309DE2;}
.navborpitch{border-bottom: 3px solid #309DE2;}
/* 头部二维码部分 */
.h-120{height: 120px;}
.z--1{z-index: -1}
.t-28{top: 28px;}
.bor-col-fff{border-color: #fff;}
.app_down_btn{}
.app_down_btn:hover{
	border: 1px solid #ccc;
	border-bottom: none;

}
.app_down_btn:hover > div{
	display: block;
	-webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,.2);-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,.2);box-shadow: 0px 2px 10px 0px rgba(0,0,0,.2);
}
/* 尾部 */
.bg-E9E9E9{background-color: #E9E9E9;}
.col-8c8c8c{color: #8c8c8c;}
.hovecol-999:hover{color: #999 !important;}
/* 用户中心部分css */
.bg-f5f5f5{background-color: #f5f5f5;}
.pb-70{padding-bottom: 70px;}
.col-212121{color: #212121;}
.col-757575{color: #757575;}
.col-757575i{color: #757575 !important;}
.col-active{color: #309DE2 !important;}
.col-666i{color: #666 !important;}
.hovecol-309DE2:hover{color: #309DE2 !important;}
.pb-100{padding-bottom: 100px;}
.pb-280{padding-bottom: 280px;}
.w-120{width: 120px;}
.w-500{width: 500px;}
.img-120{width: 120px;height: 120px;}
.img-110{width: 110px;height: 110px;}
.col-309DE2{color: #309DE2;}
.col-616161{color: #616161;}
.col-b0b0b0{color: #b0b0b0;}
.col-9d9d9d{color: #9d9d9d;}
.bor-col-e0e0e0{border-color: #e0e0e0;}
.rgba-60{background: rgba(0,0,0,0.6)}
.t-150{top: 150px;}
.w-370{width: 370px;}
.w-536{width: 536px;}
.w-900{width: 900px;}
.bg-5BC0DE{background-color: #5BC0DE;}
.t--300{top: -300px;}
.t-20{top: 20px;}
.r-20{right: 20px;}
.bor-col-fff{border-color: #fff;}
.bor-col-e8e8e8{border-color: #e8e8e8;}
.box-sha-imgsha{box-shadow: 0 0 5px rgba(0,0,0,.15);}
.h-364{height: 364px;}
.img-184{width: 184px;height: 184px;}
.img-100{width: 100px;height: 100px;}
.img-50{width: 50px;height: 50px;}
.bg-fcfcfc{background-color: #fcfcfc;}
.box-sha-inset-big{box-shadow: inset 0 0 5px rgba(0,0,0,.25);}
.opacity-0{opacity:0;}
.maxw-100p{max-width: 100%}
.ani-selhead-logoin{animation: selheadin 0.6s; animation-fill-mode: forwards; -webkit-animation: selheadin 0.6s; -webkit-animation-fill-mode: forwards;}

@keyframes selheadin
{
    from {top: -300;opacity:0;}
    to {top: 0;opacity:1;}
}
 
@-webkit-keyframes selheadin
{
    from {top: -300;opacity:0;}
    to {top: 0;opacity:1;}
}
.ani-selhead-logoout{animation: selheadout 0.3s; animation-fill-mode: forwards; -webkit-animation: selheadout 0.3s; -webkit-animation-fill-mode: forwards;}
@keyframes selheadout
{
    from {top: 0;opacity:1;}
    to {top: -300;opacity:0;}
}
@-webkit-keyframes selheadout
{
    from {top: 0;opacity:1;}
    to {top: -300;opacity:0;}
}
@media (min-width:768px) and (max-width:991px) {
	.f-20-16-ipad{font-size: 14px;}
	.pd-40-10-ipad{padding: 10px;}
	.plr-50-10-ipad{padding-left: 10px;padding-right: 10px;}
	.pt-40-20-ipad{padding-top: 20px;}
	.f-50-40-ipad{font-size: 40px;}
	.line-h-70-50-ipad{line-height: 50px;}
}
@media (min-width:992px) and (max-width:1199px) {
	.f-20-16-ipad{font-size: 16px;}
	.pd-40-10-ipad{padding: 40px;}
	.plr-50-10-ipad{padding-left: 50px;padding-right: 50px;}
	.pt-40-20-ipad{padding-top: 40px;}
	.f-50-40-ipad{font-size: 50px;}
	.line-h-70-50-ipad{line-height: 70px;}
}
@media (min-width:1200px) and (max-width:1299px) {
	.f-20-16-ipad{font-size: 20px;}
	.pd-40-10-ipad{padding: 40px;}
	.plr-50-10-ipad{padding-left: 50px;padding-right: 50px;}
	.pt-40-20-ipad{padding-top: 40px;}
	.f-50-40-ipad{font-size: 50px;}
	.line-h-70-50-ipad{line-height: 70px;}
}
@media (min-width:1300px) {
	.f-20-16-ipad{font-size: 20px;}
	.pd-40-10-ipad{padding: 40px;}
	.plr-50-10-ipad{padding-left: 50px;padding-right: 50px;}
	.pt-40-20-ipad{padding-top: 40px;}
	.f-50-40-ipad{font-size: 50px;}
	.line-h-70-50-ipad{line-height: 70px;}
}
/* 修改密码页css */
.pb-280{padding-bottom: 280px;}
.bor-col-f5f5f5{border-color: #f5f5f5;}
.w-300{width: 300px;}
.mt-14{margin-top: 14px;}
.bor-none{border:none;}
.bg-309DE2{background-color: #309DE2;}
.hovbg-2D90CF:hover{background: #2D90CF !important;}
.min-h-65{min-height: 65px;}
.img-80{width: 80px;height: 80px;}