@charset "utf-8";
/*主页响应式栅格系统*/
@media (max-width:767px) {
	.container {width: 100%;}
	.protipsplmedia{padding-left: 0px;}
}
@media (min-width:768px) and (max-width:991px) {
	.container {width: 100%;}
	.protipsplmedia{padding-left: 5px; padding-right: 5px;}
}
@media (min-width:992px) and (max-width:1199px) {
	.container {width: 100%;}
	.protipsplmedia{padding-left: 30px;}
}
@media (min-width:1200px) and (max-width:1299px) {
	.container {width: 1200px}
	.protipsplmedia{padding-left: 50px;}
}
@media (min-width:1300px) {
	.container {width: 1200px}
	.protipsplmedia{padding-left: 50px;}
}
.mt--2{margin-top: -2px;}
.mt-50{margin-top: 50px;}
.mt-60{margin-top: 60px;}
.mt-90{margin-top: 90px;}
.h-26{height: 26px;}
.h-36{height: 36px;}
.h-75{height: 75px;}
.h-65{height: 65px;}
.h-300{height: 300px;}
.h-400{height: 400px;}
.h-500{height: 500px;}
.h-600{height: 600px;}
.r-20{right: 20px;}
.r-40{right: 40px;}
.t-11{top: 11px;}
.t-13{top: 13px;}
.t-20{top: 20px;}
.t-30s{top: 30%;}
.t-80s{top: 80%;}
.l-15{left: 15px;}
.l-25{left: 25px;}
.l-50s{left: 50%;}
.b--21{bottom: -21px;}
.min-h-40{min-height: 40px;}
.min-h-60{min-height: 60px;}
.min-h-120{min-height: 120px;}
.min-h-125{min-height: 125px;}
.min-h-190{min-height: 190px;}
.min-h-470{min-height: 470px;}
.line-h-26{line-height: 26px;}
.line-h-36{line-height: 36px;}
.line-h-40{line-height: 40px;}
.line-h-65{line-height: 65px;}
.line-h-80{line-height: 80px;}
.pb-80{padding-bottom: 80px;}
.pb-230{padding-bottom: 230px;}
.pl-85{padding-left: 85px;}
.pl-90{padding-left: 90px;}
.pl-100{padding-left: 100px;}
.pr-90{padding-right: 90px;}
.pt-100{padding-top: 100px;}
.pt-130{padding-top: 130px;}
.pt-230{padding-top: 230px;}
.w11s{width: 11%;}
.w-25{width: 25px;}
.w-40{width: 40px;}
.w-50{width: 50px;}
.w-100{width: 100px;}
.w-150{width: 150px;}
.w-200{width: 200px;}
.w-248{width: 248px;}
.w-300{width: 300px;}
.w-400{width: 400px;}
.w-500{width: 500px;}
.w-600{width: 600px;}
.col-309DE2{color: #309DE2 !important;}
.col-aaa{color: #aaa;}
.col-252525{color: #252525;}
.col-4a4a4a{color: #4a4a4a;}
.col-616161{color: #616161;}
.col-b4b4b4{color: #b4b4b4;}
.col-8c8c8c{color: #8c8c8c;}
.col-9a9a9a{color: #9a9a9a;}
.col-727272{color: #727272;}
.col-757575{color: #757575;}
.col-B2B2B2{color: #B2B2B2;}
.bg-eee{background-color: #eee;}
.bg-B1B1B1{background-color: #B1B1B1;}
.bg-9BD2F4{background-color: #9BD2F4;}
.bg-A0D8FB{background-color: #A0D8FB;}
.bg-252525{background-color: #252525;}
.bg-f5f5f5{background-color: #f5f5f5;}
.bg-fafafa{background-color: #fafafa;}
.bg-E9E9E9{background-color: #E9E9E9;}
.bg-8c8c8c{background-color: #8c8c8c;}
.bg-9a9a9a{background-color: #9a9a9a;}
.bg-d2d2d2{background-color: #d2d2d2;}
.bg-309DE2{background-color: #309DE2;}
.bg-activate{background-color: #309DE2 !important;}
.t-nonehove:hover{text-decoration: none}
.mainnav div a:hover{color: #309DE2;}
.navbor{border-bottom: 3px solid #309DE2;}
.navborpitch{border-bottom: 3px solid #309DE2;}
.hovecol-black:hover{color: black !important;}
.hovecol-white:hover{color: white}
.hovecol-333:hover{color: #333 !important;}
.hovecol-999:hover{color: #999 !important;}
.hovecol-309DE2:hover{color: #309DE2 !important;}
.hovbg-2D90CF:hover{background: #2D90CF !important;}
.hovbg-9BD2F4:hover{background: #9BD2F4 !important;}
.hovbg-309DE2:hover{background: #309DE2}
.hovbg-38B3FF:hover{background: #38B3FF}
.hovbg-666:hover{background: #666}
.hovebg-ddd:hover{background-color: #ddd;}
.bgimg-interlayer{background-image: url(../../img/index/interlayer.jpg);}
.bor-none{border: none;}
.bor-col-E9E9E9{border-color: #E9E9E9}
.bor-col-B2B2B2{border-color: #B2B2B2}
.bor-col-D2D2D2{border-color: #D2D2D2}
.bor-col-D6D6D6{border-color: #D6D6D6}
.bor-col-7A7A7A{border-color: #7A7A7A}
.bor-col-999{border-color: #999}
.bor-col-309DE2{border-color: #309DE2 !important}
.bor-col-activate{border-color: #309DE2 !important}
.focus-input-pri:focus{border-color: #66afe9;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);}
.sha-leftv1{-webkit-box-shadow: -15px 0px 20px -3px rgba(0,0,0,.2);-moz-box-shadow: -15px 0px 20px -3px rgba(0,0,0,.2);box-shadow: -15px 0px 20px -3px rgba(0,0,0,.2);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}
.sha-rightv1{-webkit-box-shadow: 15px 0px 20px -3px rgba(0,0,0,.2);-moz-box-shadow: 15px 0px 20px -3px rgba(0,0,0,.2);box-shadow: 10px 0px 10px -3px rgba(0,0,0,.2);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}
.sha-allv1{-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,.2);-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,.2);box-shadow: 0px 2px 10px 2px rgba(0,0,0,.2);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}
.sha-prode-floatv1{-webkit-box-shadow: 0px 2px 5px 3px rgba(0,0,0,.2);-moz-box-shadow: 0px 2px 5px 3px rgba(0,0,0,.2);box-shadow: 0px 2px 5px 3px rgba(0,0,0,.2);transition-duration: 0.5s;-webkit-transition-duration: 0.5s;}
.sha-float-titlev1{-webkit-box-shadow: 0px 3px 10px rgba(0,0,0,.2);-moz-box-shadow: 0px 3px 10px rgba(0,0,0,.2);box-shadow: 0px 3px 10px rgba(0,0,0,.2);}
.rgba-30-white{background: rgba(255,255,255,0.3)}
.swiper-paginationmian{
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
}
.swiper-paginationmian .swiper-pagination-bullet{
	position: relative;
	height: 48px;
	width: 48px;
	border-radius: 0;
	line-height: 48px;
	color: white;
	background-color: rgba(255,255,255,0.6);
	margin: 0 1px 0 0  !important;
	text-align: center;
	opacity:1;
}
.swiper-paginationmian .swiper-pagination-bullet-active{
	color: black;
	background-color: rgba(255,255,255,1);
}

.mainswiper-pagination-bullet-div{
	position: absolute;
	z-index: -999;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(255,255,255,0.8);
	/* height: 100%; */
}
.banneraniv1{
	-webkit-animation: banneraniv1 0.3s forwards; 
    animation: banneraniv1 0.3s forwards;
}
@keyframes banneraniv1
{
from {height: 0%;}
to {height: 100%;}
}
/*Safari 和 Chrome:*/
@-webkit-keyframes banneraniv1
{
from {height: 0%;}
to {height: 100%;}
}
.banneraniv2{
	-webkit-animation: banneraniv2 0.2s forwards; 
    animation: banneraniv2 0.2s forwards;
}
@keyframes banneraniv2
{
from {height:100%;}
to {height: 0%;}
}
/*Safari 和 Chrome:*/
@-webkit-keyframes banneraniv2
{
from {height:100%;}
to {height:0%;}
}
.swiper-tipsv1-button-prev{
	position: relative;
	display: inline-block;
	top: 0px;
	left: 0px;
	width: 48px;
	height: 48px;
	margin: 0 0 0 0;
	background-image: url(../../img/index/leftbtn.png);
}
.swiper-tipsv1-button-next{
	position: relative;
	display: inline-block;
	top: 0px;
	left: 0px;
	width: 48px;
	height: 48px;
	margin: 0 0 0 0px;
	background-image: url(../../img/index/rightbtn.png);
}
.rgba-90{background: rgba(0,0,0,0.9)}
.img-100{width: 100px;height: 100px;}
.img-250{width: 250px;height: 250px;}
.img-400{width: 400px;height: 400px;}
.img-500{width: 500px;height: 500px;}
.img-180{width: 180px;height: 180px;}
.img-80{width: 80px;height: 80px;}
.img-40{width: 40px;height: 40px;}
.select-none{
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select: none;     
  user-select: none;         
}
.rgba-60{background: rgba(0,0,0,0.6)}
.rgba-d2d2d2-20{background: rgba(210,210,210,0.2)}
/* 商品详细页响应式 */
.containerv2 {margin-right: auto; margin-left: auto}
@media (min-width:768px) and (max-width:991px) {
	.containerv2 {width: 750px}
	.pd-50-30-ipad{padding: 30px;}
	.plr-10-5-ipad{padding-right: 5px;padding-left: 5px;}
	.mtb-20-5-ipad{margin-top: 5px;margin-bottom: 5px;}
	.f-30-20-ipad{font-size: 20px;}
	.plr-25-5{padding-right: 5px;padding-left: 5px;}
	.pt-20-5-ipad{padding-top: 5px;}
	.f-18-14-ipad{font-size: 14px;}
	.mtb-10-5-ipad{margin-top: 5px;margin-bottom: 5px;}
	.min-h-125-60{min-height: 60px;}
	.bor-col-B2B2B2-hide-ipad{border:none;}
	.ptb-20-0-ipad{padding-top: 0px;padding-bottom: 0px;}
	.mtb-30-10-ipad{margin-top: 10px;margin-bottom: 10px;}
	.w-150-100-ipad{width: 100px;}
	.h-40-30-ipad{height: 30px;}
	.line-h-40-30-ipad{line-height: 30px;}
	.ptb-35-16-ipad{padding-top: 16px;padding-bottom: 10px;}
	.pt-30-10-ipad{padding-top: 10px;}
	.img-30-20{width: 20px;height: 20px;}
	.img-20-14{width: 14px;height: 14px;}
	.t--2--6-ipad{top: -6px;}
	.line-h-25-30-ipad{line-height: 30px;}
	.mb-30-10-ipad{margin-bottom: 10px;}
	.line-h-45-30-ipad{line-height: 30px;}
	.h-45-30-ipad{height: 30px;}
	.ptb-20-10-ipad{padding-top: 10px;padding-bottom: 10px;}
	.pb-20-0-ipad{padding-bottom: 0px;}
	.f-16-14-ipad{font-size: 14px;}
	.pl-100-0-ipad{padding-left: 0px;}
	.plr-0-10-ipad{padding-left: 10px;padding-right: 10px;}
}
@media (min-width:992px) and (max-width:1199px) {
	.containerv2 {width: 970px}
	.pd-50-30-ipad{padding: 30px;}
	.plr-10-5-ipad{padding-right: 5px;padding-left: 5px;}
	.mtb-20-5-ipad{margin-top: 5px;margin-bottom: 5px;}
	.f-30-20-ipad{font-size: 20px;}
	.plr-25-5{padding-right: 5px;padding-left: 5px;}
	.pt-20-5-ipad{padding-top: 5px;}
	.f-18-14-ipad{font-size: 14px;}
	.mtb-10-5-ipad{margin-top: 5px;margin-bottom: 5px;}
	.min-h-125-60{min-height: 60px;}
	.bor-col-B2B2B2-hide-ipad{border:none;}
	.ptb-20-0-ipad{padding-top: 20px;padding-bottom: 20px;}
	.mtb-30-10-ipad{margin-top: 20px;margin-bottom: 20px;}
	.w-150-100-ipad{width: 100px;}
	.h-40-30-ipad{height: 30px;}
	.line-h-40-30-ipad{line-height: 30px;}
	.ptb-35-16-ipad{padding-top: 16px;padding-bottom: 10px;}
	.pt-30-10-ipad{padding-top: 10px;}
	.img-30-20{width: 20px;height: 20px;}
	.img-20-14{width: 14px;height: 14px;}
	.t--2--6-ipad{top: -6px;}
	.line-h-25-30-ipad{line-height: 30px;}
	.mb-30-10-ipad{margin-bottom: 10px;}
	.line-h-45-30-ipad{line-height: 30px;}
	.h-45-30-ipad{height: 30px;}
	.ptb-20-10-ipad{padding-top: 20px;padding-bottom: 20px;}
	.pb-20-0-ipad{padding-bottom: 0px;}
	.f-16-14-ipad{font-size: 14px;}
	.pl-100-0-ipad{padding-left: 0px;}
	.plr-0-10-ipad{padding-left: 10px;padding-right: 10px;}
}
@media (min-width:1200px) and (max-width:1299px) {
	.containerv2 {width: 1200px}
	.pd-50-30-ipad{padding: 50px;}
	.plr-10-5-ipad{padding-right: 10px;padding-left: 10px;}
	.mtb-20-5-ipad{margin-top: 20px;margin-bottom: 20px;}
	.f-30-20-ipad{font-size: 30px;}
	.plr-25-5{padding-right: 25px;padding-left: 25px;}
	.pt-20-5-ipad{padding-top: 20px;}
	.f-18-14-ipad{font-size: 18px;}
	.mtb-10-5-ipad{margin-top: 10px;margin-bottom: 10px;}
	.min-h-125-60{min-height: 125px;}
	.bor-col-B2B2B2-hide-ipad{border-color: #B2B2B2;}
	.ptb-20-0-ipad{padding-top: 20px;padding-bottom: 20px;}
	.mtb-30-10-ipad{margin-top: 30px;margin-bottom: 30px;}
	.w-150-100-ipad{width: 150px;}
	.h-40-30-ipad{height: 40px;}
	.line-h-40-30-ipad{line-height: 40px;}
	.ptb-35-16-ipad{padding-top: 35px;padding-bottom: 35px;}
	.pt-30-10-ipad{padding-top: 30px;}
	.img-30-20{width: 30px;height: 30px;}
	.img-20-14{width: 20px;height: 20px;}
	.t--2--6-ipad{top: -2px;}
	.line-h-25-30-ipad{line-height: 25px;}
	.mb-30-10-ipad{margin-bottom: 30px;}
	.line-h-45-30-ipad{line-height: 45px;}
	.h-45-30-ipad{height: 45px;}
	.ptb-20-10-ipad{padding-top: 20px;padding-bottom: 20px;}
	.pb-20-10-ipad{padding-bottom: 20px;}
	.f-16-14-ipad{font-size: 16px;}
	.pl-100-0-ipad{padding-left: 100px;}
	.plr-0-10-ipad{padding-left: 0px;padding-right: 0px;}
}
@media (min-width:1300px) {
	.containerv2 {width: 1200px}
	.pd-50-30-ipad{padding: 50px;}
	.plr-10-5-ipad{padding-right: 10px;padding-left: 10px;}
	.mtb-20-5-ipad{margin-top: 20px;margin-bottom: 20px;}
	.f-30-20-ipad{font-size: 30px;}
	.plr-25-5{padding-right: 25px;padding-left: 25px;}
	.pt-20-5-ipad{padding-top: 20px;}
	.f-18-14-ipad{font-size: 18px;}
	.mtb-10-5-ipad{margin-top: 10px;margin-bottom: 10px;}
	.min-h-125-60{min-height: 125px;}
	.bor-col-B2B2B2-hide-ipad{border-color: #B2B2B2;}
	.ptb-20-0-ipad{padding-top: 20px;padding-bottom: 20px;}
	.mtb-30-10-ipad{margin-top: 30px;margin-bottom: 30px;}
	.w-150-100-ipad{width: 150px;}
	.h-40-30-ipad{height: 40px;}
	.line-h-40-30-ipad{line-height: 40px;}
	.ptb-35-16-ipad{padding-top: 35px;padding-bottom: 35px;}
	.pt-30-10-ipad{padding-top: 30px;}
	.img-30-20{width: 30px;height: 30px;}
	.img-20-14{width: 20px;height: 20px;}
	.t--2--6-ipad{top: -2px;}
	.line-h-25-30-ipad{line-height: 25px;}
	.mb-30-10-ipad{margin-bottom: 30px;}
	.line-h-45-30-ipad{line-height: 45px;}
	.h-45-30-ipad{height: 45px;}
	.ptb-20-10-ipad{padding-top: 20px;padding-bottom: 20px;}
	.pb-20-10-ipad{padding-bottom: 20px;}
	.f-16-14-ipad{font-size: 16px;}
	.pl-100-0-ipad{padding-left: 100px;}
	.plr-0-10-ipad{padding-left: 0px;padding-right: 0px;}
}
.triangle-cart-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 13px solid #f5f5f5;
}
/* 购物车页响应式 */
@media (min-width:768px) and (max-width:991px) {
.b--21--30-ipad{bottom: -25px;}
.l-25-20-ipad{left: 20px;}
.img-25-20-ipad{width: 20px; height: 20px;}
.img-20-15-ipad{width: 15px; height: 15px;}
.mt-3-5-ipad{margin-top: 5px;}
.t--4--6-ipad{top: -6px;}
.pr-15-0-ipad{padding-right: 0px;}
.pt-0-5-ipad{padding-top: 5px;}
.f-14-12-ipad{font-size: 12px;}
.h-60-40-ipad{height: 40px;}
.line-h-60-40-ipad{line-height: 40px;}
.img-40-30-ipad{width: 30px;height: 30px;}
.img-30-20-ipad{width: 20px;height: 20px;}
.mt-10-5-ipad{margin-top: 5px;}
.mb-10-5-ipad{margin-bottom: 5px;}
}
@media (min-width:992px) and (max-width:1199px) {
.b--21--30-ipad{bottom: -30px;}
.l-25-20-ipad{left: 25px;}
.img-25-20-ipad{width: 25px; height: 25px;}
.img-20-15-ipad{width: 20px; height: 20px;}
.mt-3-5-ipad{margin-top: 3px;}
.t--4--6-ipad{top: -4px;}
.pr-15-0-ipad{padding-right: 15px;}
.pt-0-5-ipad{padding-top: 0px;}
.f-14-12-ipad{font-size: 14px;}
.h-60-40-ipad{height: 60px;}
.line-h-60-40-ipad{line-height: 60px;}
.img-40-30-ipad{width: 40px;height: 40px;}
.img-30-20-ipad{width: 30px;height: 30px;}
.mt-10-5-ipad{margin-top: 10px;}
.mb-10-5-ipad{margin-bottom: 10px;}
}
@media (min-width:1200px) and (max-width:1299px) {
.b--21--30-ipad{bottom: -21px;}
.l-25-20-ipad{left: 25px;}
.img-25-20-ipad{width: 25px; height: 25px;}
.img-20-15-ipad{width: 20px; height: 20px;}
.mt-3-5-ipad{margin-top: 3px;}
.t--4--6-ipad{top: -4px;}
.pr-15-0-ipad{padding-right: 15px;}
.pt-0-5-ipad{padding-top: 0px;}
.f-14-12-ipad{font-size: 14px;}
.h-60-40-ipad{height: 60px;}
.line-h-60-40-ipad{line-height: 60px;}
.img-40-30-ipad{width: 40px;height: 40px;}
.img-30-20-ipad{width: 30px;height: 30px;}
.mt-10-5-ipad{margin-top: 10px;}
.mb-10-5-ipad{margin-bottom: 10px;}
}
@media (min-width:1300px) {
.b--21--30-ipad{bottom: -21px;}
.l-25-20-ipad{left: 25px;}
.img-25-20-ipad{width: 25px; height: 25px;}
.img-20-15-ipad{width: 20px; height: 20px;}
.mt-3-5-ipad{margin-top: 3px;}
.t--4--6-ipad{top: -4px;}
.pr-15-0-ipad{padding-right: 15px;}
.pt-0-5-ipad{padding-top: 0px;}
.f-14-12-ipad{font-size: 14px;}
.h-60-40-ipad{height: 60px;}
.line-h-60-40-ipad{line-height: 60px;}
.img-40-30-ipad{width: 40px;height: 40px;}
.img-30-20-ipad{width: 30px;height: 30px;}
.mt-10-5-ipad{margin-top: 10px;}
.mb-10-5-ipad{margin-bottom: 10px;}
}
/* 确认订单页响应式 */
@media (min-width:768px) and (max-width:991px) {
.pd-15-5-ipad{padding: 5px;}
.line-h-30-20-ipad{line-height: 20px;}
.mt-15-0-ipad{margin-top: 0px;}
.ptb-10-5-ipad{padding-top: 5px;padding-bottom: 5px;}
.min-h-190-160-ipad{min-height: 160px;}
.pd-50-30-ipad{padding: 30px;}
}
@media (min-width:992px) and (max-width:1199px) {
.pd-15-5-ipad{padding: 10px;}
.line-h-30-20-ipad{line-height: 30px;}
.mt-15-0-ipad{margin-top: 15px;}
.ptb-10-5-ipad{padding-top: 10px;padding-bottom: 10px;}
.min-h-190-160-ipad{min-height: 190px;}
.pd-50-30-ipad{padding: 30px;}
}
@media (min-width:1200px) and (max-width:1299px) {
.pd-15-5-ipad{padding: 15px;}
.line-h-30-20-ipad{line-height: 30px;}
.mt-15-0-ipad{margin-top: 15px;}
.ptb-10-5-ipad{padding-top: 10px;padding-bottom: 10px;}
.min-h-190-160-ipad{min-height: 190px;}
.pd-50-30-ipad{padding: 50px;}
}
@media (min-width:1300px) {
.pd-15-5-ipad{padding: 15px;}
.line-h-30-20-ipad{line-height: 30px;}
.mt-15-0-ipad{margin-top: 15px;}
.ptb-10-5-ipad{padding-top: 10px;padding-bottom: 10px;}
.min-h-190-160-ipad{min-height: 190px;}
.pd-50-30-ipad{padding: 50px;}
}
