@charset "utf-8";
/*主页响应式栅格系统*/
@media (max-width:767px) {
	.container {width: 100%;}
}
@media (min-width:768px) and (max-width:991px) {
	.container {width: 100%;}
}
@media (min-width:992px) and (max-width:1199px) {
	.container {width: 100%;}
}
@media (min-width:1200px) and (max-width:1299px) {
	.container {width: 1200px}
}
@media (min-width:1300px) {
	.container {width: 1200px}
}
/* 头部 */
.min-h-120{min-height: 120px;}
.hovecol-black:hover{color: black !important;}
.bg-eee{background-color: #eee;}
.hovebg-ddd:hover{background-color: #ddd;}
.h-26{height: 26px;}
.line-h-26{line-height: 26px;}
.w-100{width: 100px;}
.mt--2{margin-top: -2px;}
.t-nonehove:hover{text-decoration: none}
.mainnav div a:hover{color: #309DE2;}
.navbor{border-bottom: 3px solid #309DE2;}
.navborpitch{border-bottom: 3px solid #309DE2;}
/* 头部二维码部分 */
.h-120{height: 120px;}
.z--1{z-index: -1}
.t-28{top: 28px;}
.bor-col-fff{border-color: #fff;}
.app_down_btn{}
.app_down_btn:hover{
    border: 1px solid #ccc;
    border-bottom: none;

}
.app_down_btn:hover > div{
    display: block;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,.2);-moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,.2);box-shadow: 0px 2px 10px 0px rgba(0,0,0,.2);
}
/* 尾部 */
.bg-E9E9E9{background-color: #E9E9E9;}
.col-8c8c8c{color: #8c8c8c;}
.hovecol-999:hover{color: #999 !important;}
/* 商品展示页面置顶浮层 */
.bor-col-D6D6D6{border-color: #D6D6D6}
.sha-float-titlev1{-webkit-box-shadow: 0px 3px 10px rgba(0,0,0,.2);-moz-box-shadow: 0px 3px 10px rgba(0,0,0,.2);box-shadow: 0px 3px 10px rgba(0,0,0,.2);}
.bor-none{border: none;}
.bg-309DE2{background-color: #309DE2;}
.hovbg-2D90CF:hover{background: #2D90CF !important;}
@media (min-width:768px) and (max-width:991px) {
	.plr-0-10-ipad{padding-left: 10px;padding-right: 10px;}
}
@media (min-width:992px) and (max-width:1199px) {
	.plr-0-10-ipad{padding-left: 10px;padding-right: 10px;}
}
@media (min-width:1200px) and (max-width:1299px) {
	.plr-0-10-ipad{padding-left: 0px;padding-right: 0px;}
}
@media (min-width:1300px) {
	.plr-0-10-ipad{padding-left: 0px;padding-right: 0px;}
}
/* 商品展示页面样式 */
.f-30{font-size: 30px;}
.f-36{font-size: 36px;}
.f-38{font-size: 38px;}
.f-40{font-size: 40px;}
.f-50{font-size: 50px;}
.f-54{font-size: 54px;}
.r-30{right: 30px;}
.t-20{top: 20px;}
.line-h-120{line-height: 120px;}
.line-h-300{line-height: 300px;}
.fw-600{font-weight:600;}
.w-1920{width: 1920px;}
.pt-75{padding-top: 75px;}
.pt-80{padding-top: 80px;}
.pt-82{padding-top: 82px;}
.pt-100{padding-top: 100px;}
.pt-110{padding-top: 110px;}
.pt-130{padding-top: 130px;}
.pt-160{padding-top: 160px;}
.pt-170{padding-top: 170px;}
.pt-280{padding-top: 280px;}
.pl-90{padding-left: 90px;}
.pb-82{padding-bottom: 82px;}
.pb-150{padding-bottom: 150px;}
.min-h-250{min-height: 250px;}
.min-h-300{min-height: 300px;}
.min-h-600{min-height: 600px;}
.min-h-760{min-height: 760px;}
.min-h-860{min-height: 860px;}
.max-w-200p{max-width: 200%;}
.max-w-1920{max-width: 1920px;}
.col-309DE2{color: #309DE2;}
.col-929292{color: #929292;}
.col-979797{color: #979797;}
.col-423f3f{color: #423f3f;}
.bg-309DE2{background-color: #309DE2;}
.bg-a0d8f8{background-color: #a0d8f8;}
.bg-a3d9fb{background-color: #a3d9fb;}
.bg-f8f7f5{background-color: #f8f7f5;}
.bg-a7dbfb{background-color: #a7dbfb;}
.bor-col-309DE2{border-color: #309DE2;}
.bor-col-d2d2d2{border-color: #d2d2d2;}
.opa-0{opacity:0;}
.select-none{-moz-user-select: none; -webkit-user-select: none; -ms-user-select: none;user-select: none;}
.bg-img-peodetailfv5{background: url(../../img/HK_Pro_details/fifth-floor-bgv1.png) no-repeat center top;}
.img-300{width: 300px;height: 300px;}
.img-120{width: 120px;height: 120px;}
.img-peodetailfv4-1{
	top: -600px;
    left: 50%;
    transform: translate(-50%);
    -ms-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
}
.ani-topa-re{animation: anitopare 1s; animation-fill-mode: forwards; -webkit-animation: anitopare 1s; -webkit-animation-fill-mode: forwards;}
@keyframes anitopare
{
    from {top: 20;opacity:0;}
    to {top: 0;opacity:1;}
}
 
@-webkit-keyframes anitopare
{
    from {top: 20;opacity:0;}
    to {top: 0;opacity:1;}
}

/* PC上的动画 */
@keyframes anififleft
{
    from {bottom: -460px;opacity:0;left: -800px;}
    to {bottom: -150px;opacity:1;left: -100px;}
}
 
@-webkit-keyframes anififleft
{
    from {bottom: -460px;opacity:0;left: -800px;}
    to {bottom: -150px;opacity:1;left: -100px;}
}

@keyframes anififright
{
    from {top: -250px;opacity:0;right: -800px;}
    to {top: 70px;opacity:1;right:  -50px;}
}
 
@-webkit-keyframes anififright
{
    from {top: -250px;opacity:0;right: -800px;}
    to {top: 70px;opacity:1;right: -50px;}
}
/* ipad上的动画 */
@keyframes anififleftipad
{
    from {bottom: -500px;opacity:0;left: -600px;}
    to {bottom: -160px;opacity:1;left: -360px;}
}
 
@-webkit-keyframes anififleftipad
{
    from {bottom: -500px;opacity:0;left: -600px;}
    to {bottom: -160px;opacity:1;left: -360px;}
}

@keyframes anififrightipad
{
    from {top: -200px;opacity:0;right: -600px;}
    to {top: 60px;opacity:1;right:  -220px;}
}
 
@-webkit-keyframes anififrightipad
{
    from {top: -200px;opacity:0;right: -600px;}
    to {top: 60px;opacity:1;right: -220px;}
}
/* ipadpro上的动画 */
@keyframes anififleftipadpro
{
    from {bottom: -400px;opacity:0;left: -600px;}
    to {bottom: -100px;opacity:1;left: -200px;}
}
 
@-webkit-keyframes anififleftipadpro
{
    from {bottom: -400px;opacity:0;left: -600px;}
    to {bottom: -100px;opacity:1;left: -200px;}
}

@keyframes anififrightipadpro
{
    from {top: -200px;opacity:0;right: -600px;}
    to {top: 90px;opacity:1;right:  -130px;}
}
 
@-webkit-keyframes anififrightipadpro
{
    from {top: -200px;opacity:0;right: -600px;}
    to {top: 90px;opacity:1;right: -130px;}
}
.img-thirdfloor-tips{
	top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}

.hov-thirdimg{
	transition: width 0.5s,top 0.5s;
    -webkit-transition: width 0.5s,top 0.5s;
}
.hov-thirdimg:hover{
	width: 110% !important;
	top: 48%;
}
.r-80{right: 80px;}
.t-50{top: 50px;}
/* 商品展示页响应式 */
@media (min-width:768px) and (max-width:991px) {
.f-38-28-ipad{font-size: 28px;}
.ml-10-5-ipad{margin-left: 5px;}
.t--5--0-ipad{top: 0px;}
.f-30-24-ipad{font-size: 24px;}
.pl-90-40-ipad{padding-left: 40px;}
.f-50-38-ipad{font-size: 30px;}
.f-20-16-ipad{font-size: 16px;}
.f-36-18-ipad{font-size: 18px;}
.min-h-860-650-ipad{min-height: 650px;}
.min-h-600-500-ipad{min-height: 500px;}
.f-50-40-ipad{font-size: 40px;}
.f-38-28-ipad{font-size: 28px;}
.pt-280-200-ipad{padding-top: 200px;}
.f-26-20-ipad{font-size: 20px;}
.f-18-14-ipad{font-size: 14px;}
.f-50-36-ipad{font-size: 36px;}
.f-36-28-ipad{font-size: 28px;}
.mtb-20-0-ipad{margin-top: 0px;margin-bottom: 0px;}
.mt-30-0-iapd{margin-top: 0px;}
.plr-15-0-ipad{padding-left: 0px;padding-right: 0px;}
.min-h-760-650-ipad{min-height: 650px;}
.f-40-26-ipad{font-size: 26px;}
.f-24-16-ipad{font-size: 16px;}
.r-30-0-ipad{right: 0px;}
.min-h-860-760-ipad{min-height: 760px;}
.pt-160-100-ipad{padding-top: 100px;}
.ani-fif-right{animation: anififrightipad 3s; animation-fill-mode: forwards; -webkit-animation: anififrightipad 3s; -webkit-animation-fill-mode: forwards;forwards;animation-timing-function:cubic-bezier(0,0.1,0.3,1);-webkit-animation-timing-function:cubic-bezier(0,0.1,0.3,1);}
.ani-fif-left{animation: anififleftipad 3s; animation-fill-mode: forwards; -webkit-animation: anififleftipad 3s; -webkit-animation-fill-mode: forwards;animation-timing-function:cubic-bezier(0,0.1,0.3,1);-webkit-animation-timing-function:cubic-bezier(0,0.1,0.3,1);}
}
@media (min-width:992px) and (max-width:1199px) {
.f-38-28-ipad{font-size: 38px;}
.ml-10-5-ipad{margin-left: 10px;}
.t--5--0-ipad{top: 5px;}
.f-30-24-ipad{font-size: 30px;}
.pl-90-40-ipad{padding-left: 90px;}
.f-50-38-ipad{font-size: 50px;}
.f-20-16-ipad{font-size: 20px;}
.f-36-18-ipad{font-size: 30px;}
.min-h-860-650-ipad{min-height: 860px;}
.min-h-600-500-ipad{min-height: 600px;}
.f-50-40-ipad{font-size: 50px;}
.f-38-28-ipad{font-size: 38px;}
.pt-280-200-ipad{padding-top: 280px;}
.f-26-20-ipad{font-size: 26px;}
.f-18-14-ipad{font-size: 18px;}
.f-50-36-ipad{font-size: 50px;}
.f-36-28-ipad{font-size: 36px;}
.mtb-20-0-ipad{margin-top: 20px;margin-bottom: 20px;}
.mt-30-0-iapd{margin-top: 30px;}
.plr-15-0-ipad{padding-left: 0px;padding-right: 0px;}
.min-h-760-650-ipad{min-height: 750px;}
.f-40-26-ipad{font-size: 40px;}
.f-24-16-ipad{font-size: 24px;}
.r-30-0-ipad{right: 30px;}
.min-h-860-760-ipad{min-height: 860px;}
.pt-160-100-ipad{padding-top: 160px;}
.ani-fif-right{animation: anififrightipadpro 3s; animation-fill-mode: forwards; -webkit-animation: anififrightipadpro 3s; -webkit-animation-fill-mode: forwards;forwards;animation-timing-function:cubic-bezier(0,0.1,0.3,1);-webkit-animation-timing-function:cubic-bezier(0,0.1,0.3,1);}
.ani-fif-left{animation: anififleftipadpro 3s; animation-fill-mode: forwards; -webkit-animation: anififleftipadpro 3s; -webkit-animation-fill-mode: forwards;animation-timing-function:cubic-bezier(0,0.1,0.3,1);-webkit-animation-timing-function:cubic-bezier(0,0.1,0.3,1);}
}
@media (min-width:1200px) and (max-width:1299px) {
.f-38-28-ipad{font-size: 38px;}
.ml-10-5-ipad{margin-left: 10px;}
.t--5--0-ipad{top: 5px;}
.f-30-24-ipad{font-size: 30px;}
.pl-90-40-ipad{padding-left: 90px;}
.f-50-38-ipad{font-size: 50px;}
.f-20-16-ipad{font-size: 20px;}
.f-36-18-ipad{font-size: 36px;}
.min-h-860-650-ipad{min-height: 860px;}
.min-h-600-500-ipad{min-height: 600px;}
.f-50-40-ipad{font-size: 50px;}
.f-38-28-ipad{font-size: 38px;}
.pt-280-200-ipad{padding-top: 280px;}
.f-26-20-ipad{font-size: 26px;}
.f-18-14-ipad{font-size: 18px;}
.f-50-36-ipad{font-size: 50px;}
.f-36-28-ipad{font-size: 36px;}
.mtb-20-0-ipad{margin-top: 20px;margin-bottom: 20px;}
.mt-30-0-iapd{margin-top: 30px;}
.plr-15-0-ipad{padding-left: 15px;padding-right: 15px;}
.min-h-760-650-ipad{min-height: 750px;}
.f-40-26-ipad{font-size: 40px;}
.f-24-16-ipad{font-size: 24px;}
.r-30-0-ipad{right: 30px;}
.min-h-860-760-ipad{min-height: 860px;}
.pt-160-100-ipad{padding-top: 160px;}
.ani-fif-right{animation: anififright 3s; animation-fill-mode: forwards; -webkit-animation: anififright 3s; -webkit-animation-fill-mode: forwards;forwards;animation-timing-function:cubic-bezier(0,0.1,0.3,1);-webkit-animation-timing-function:cubic-bezier(0,0.1,0.3,1);}
.ani-fif-left{animation: anififleft 3s; animation-fill-mode: forwards; -webkit-animation: anififleft 3s; -webkit-animation-fill-mode: forwards;animation-timing-function:cubic-bezier(0,0.1,0.3,1);-webkit-animation-timing-function:cubic-bezier(0,0.1,0.3,1);}
}
@media (min-width:1300px) {
.f-38-28-ipad{font-size: 38px;}
.ml-10-5-ipad{margin-left: 10px;}
.t--5--0-ipad{top: 5px;}
.f-30-24-ipad{font-size: 30px;}
.pl-90-40-ipad{padding-left: 90px;}
.f-50-38-ipad{font-size: 50px;}
.f-20-16-ipad{font-size: 20px;}
.f-36-18-ipad{font-size: 36px;}
.min-h-860-650-ipad{min-height: 860px;}
.min-h-600-500-ipad{min-height: 600px;}
.f-50-40-ipad{font-size: 50px;}
.f-38-28-ipad{font-size: 38px;}
.pt-280-200-ipad{padding-top: 280px;}
.f-26-20-ipad{font-size: 26px;}
.f-18-14-ipad{font-size: 18px;}
.f-50-36-ipad{font-size: 50px;}
.f-36-28-ipad{font-size: 36px;}
.mtb-20-0-ipad{margin-top: 20px;margin-bottom: 20px;}
.mt-30-0-iapd{margin-top: 30px;}
.plr-15-0-ipad{padding-left: 15px;padding-right: 15px;}
.min-h-760-650-ipad{min-height: 750px;}
.f-40-26-ipad{font-size: 40px;}
.f-24-16-ipad{font-size: 24px;}
.r-30-0-ipad{right: 30px;}
.min-h-860-760-ipad{min-height: 860px;}
.pt-160-100-ipad{padding-top: 160px;}
.ani-fif-right{animation: anififright 3s; animation-fill-mode: forwards; -webkit-animation: anififright 3s; -webkit-animation-fill-mode: forwards;forwards;animation-timing-function:cubic-bezier(0,0.1,0.3,1);-webkit-animation-timing-function:cubic-bezier(0,0.1,0.3,1);}
.ani-fif-left{animation: anififleft 3s; animation-fill-mode: forwards; -webkit-animation: anififleft 3s; -webkit-animation-fill-mode: forwards;animation-timing-function:cubic-bezier(0,0.1,0.3,1);-webkit-animation-timing-function:cubic-bezier(0,0.1,0.3,1);}
}